.circle
  position: absolute
  width: 65px
  height: 65px
  border-radius: 50%
  border: 6px solid
  border-color: $blue
  &.circle1
    top: 404px
    left: 61px

.circle-dots
  position: absolute
  width: 350px
  height: 350px
  border-radius: 50%
  border: 6px dotted
  border-color: $blue
  right: -180px
  top: 50px
  z-index: -1
