$blue:  #3399CC
$green:  #33CC99
$orange: #FF9933
$greenButton1: #5B8F22
$greenButton2: #7AB800

// Gray Scale
$white:  #fff
$gray:   #666666
$lightGray: #CCCCCC
$black:  #111

// Screen Sizes

$desktop: 1200px
